<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head> 
    <title>首页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h1>首页</h1>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <th>菜单名称</th>
                <th>操作</th>
            </thead>
            <tbody>
                <td>用户列表</td>
                <td><a shiro:hasPermission="plat:user" role="button" class="btn btn-primary" href="/user/toUserPage">查看</a></td>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
